@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy-regular.eot");
  src: url("../fonts/gilroy-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular.ttf") format("truetype"), url("../fonts/gilroy-regular.svg#gilroy-regular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy-medium.eot");
  src: url("../fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-medium.woff2") format("woff2"), url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg#gilroy-medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy-bold.eot");
  src: url("../fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.ttf") format("truetype"), url("../fonts/gilroy-bold.svg#gilroy-bold") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy-semibold.eot");
  src: url("../fonts/gilroy-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-semibold.woff2") format("woff2"), url("../fonts/gilroy-semibold.woff") format("woff"), url("../fonts/gilroy-semibold.ttf") format("truetype"), url("../fonts/gilroy-semibold.svg#gilroy-semibold") format("svg");
  font-weight: 600;
  font-style: normal; }

* {
  box-sizing: border-box; }

body {
  color: #443E3E;
  font-family: 'Gilroy';
  font-weight: 500; }

img {
  display: block; }

.section-inner {
  margin: 0 auto;
  max-width: 1325px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

.order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 38px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: #FFFFFF;
  background: linear-gradient(177.99deg, #056DD0 1.69%, #06538B 155.53%); }

.headline {
  display: flex;
  align-items: center; }

.title {
  font-size: 25px;
  font-weight: 700;
  color: #443E3E; }
  .title-all {
    display: flex;
    margin-left: 60px;
    align-items: center;
    text-decoration: none; }
    .title-all__plus {
      display: flex; }
    .title-all .plus {
      width: 16px;
      height: 16px;
      margin-right: 9px;
      fill: #056DD0; }
    .title-all__text {
      font-size: 18px;
      font-weight: 500;
      color: #056DD0; }

.card {
  width: 206px;
  margin-top: 26px;
  margin-right: 7px;
  margin-left: 7px;
  padding: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.08), 0px 1px 12px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  transition: box-shadow 0.2s ease-in-out; }
  .card:hover {
    box-shadow: 0px 9px 80px rgba(0, 0, 0, 0.18), 0px 3.46667px 25.4815px rgba(0, 0, 0, 0.109333), 0px 0.73333px 6.51852px rgba(0, 0, 0, 0.0706667); }
  .card-key-words {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 10px; }
    .card-key-words__category {
      font-weight: 700;
      color: #999999; }
    .card-key-words__article {
      font-weight: 500;
      color: #5C5C5C; }
  .card-headline {
    margin-top: 11px;
    display: flex;
    justify-content: space-between; }
  .card-title {
    font-size: 15px;
    font-weight: 700; }
  .card-rating {
    display: flex; }
  .card-description {
    margin-top: 7px;
    font-size: 10px;
    width: 95%; }
  .card-prices-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px; }
  .card-prices-old-price {
    font-size: 12px;
    font-weight: 600;
    text-decoration-line: line-through;
    color: #5C5C5C; }
  .card-prices-current-price {
    margin-top: 2px;
    font-size: 15px;
    font-weight: 700; }
  .card-discount {
    padding: 0 5px;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    background: #069447; }
  .card-button {
    position: relative;
    display: flex;
    width: 101px;
    height: 32px;
    margin-top: 8px;
    padding-left: 8px;
    align-items: center;
    border: 1px solid #247FD5;
    border-radius: 8px;
    background: none;
    cursor: pointer; }
    .card-button__img svg {
      display: block; }
    .card-button__text {
      position: relative;
      z-index: 10;
      font-size: 14px;
      font-weight: 700;
      color: #247FD5;
      transition: color 0.2s ease-in-out; }
    .card-button:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: -1px;
      left: -1px;
      width: 103px;
      height: 34px;
      border-radius: 8px;
      background-color: #247FD5;
      transform-origin: center;
      transform: scale(0);
      transition: transform 0.2s ease-in-out; }
    .card-button:hover.card-button:after {
      transform: scale(1);
      color: #FFFFFF; }
    .card-button:hover .card-button__text {
      color: #FFFFFF; }
    .card-button:hover .cart {
      fill: #FFFFFF; }
  .card .cart {
    position: relative;
    z-index: 10;
    margin-right: 4px;
    width: 13px;
    height: 13px;
    fill: #247FD5;
    transition: fill 0.2s ease-in-out; }
  .card .star {
    width: 11px;
    height: 11px;
    fill: #FDB64E; }
  .card .star.active {
    fill: #F57C1F; }
  .card .star + .star {
    margin-left: 2px; }

.slick-track {
  display: flex;
  margin: 0 auto; }

#categories-slider .slick-arrow {
  transform: translateY(-75%); }

#categories-slider .slick-list {
  padding: 0 15px 50px 15px; }

#categories-slider .slick-arrow.slick-prev {
  left: -10px; }

#categories-slider .slick-arrow.slick-next {
  right: -10px; }

.slick-arrow.slick-prev {
  left: -20px; }

.slick-arrow.slick-next {
  right: -20px; }

#blog-slider .slide {
  width: 420px;
  height: 260px; }

.slide {
  position: relative;
  outline: none; }
  .slide__background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0; }
    .slide__background img {
      width: 100%;
      height: 100%; }

.slick-list {
  overflow: hidden; }

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 100;
  width: 37px;
  height: 37px;
  outline: 0;
  border: none;
  border-radius: 10px;
  font-size: 0;
  transform: translateY(-50%);
  cursor: pointer; }

.slick-arrow.slick-prev {
  background: url("../img/categories/slider/button-prev.svg") 0 0/100%; }

.slick-arrow.slick-next {
  background: url("../img/categories/slider/button-next.svg") 0 0/100%; }

.section-header-top {
  padding: 6px 0;
  border-bottom: 1px solid rgba(5, 109, 208, 0.26); }
  .section-header-top .section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .section-header-top-info {
    display: flex; }
    .section-header-top-info-item {
      font-size: 12px;
      font-weight: 700;
      text-decoration: none;
      color: #999999; }
      .section-header-top-info-item + .section-header-top-info-item {
        margin-left: 25px; }
      .section-header-top-info-item:hover {
        text-decoration: underline; }
  .section-header-top-media-and-button {
    display: flex; }
  .section-header-top-media {
    display: flex;
    align-items: center; }
    .section-header-top-media__link {
      text-decoration: none; }
      .section-header-top-media__link + .section-header-top-media__link {
        margin-left: 13px; }
    .section-header-top-media svg {
      fill: #000000; }
      .section-header-top-media svg:hover {
        fill: #999999; }
    .section-header-top-media .inst,
    .section-header-top-media .youtube {
      width: 21px;
      height: 21px; }
    .section-header-top-media .facebook {
      width: 21px;
      height: 21px; }
    .section-header-top-media .vk {
      width: 26px;
      height: 26px; }
  .section-header-top .order-button {
    margin-left: 60px; }

.section-header-info {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #5C5C5C; }
  .section-header-info .section-inner {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .section-header-info-consultations {
    display: flex;
    flex-direction: column; }
    .section-header-info-consultations__text {
      margin-bottom: 5px;
      font-size: 12px;
      font-weight: 700;
      color: #999999; }
    .section-header-info-consultations__tel {
      text-decoration: none; }
      .section-header-info-consultations__tel .tel {
        width: 12px;
        height: 12px;
        fill: #056DD0; }
      .section-header-info-consultations__tel span {
        color: #443E3E;
        font-size: 15px;
        font-weight: 600; }
  .section-header-info-search input,
  .section-header-info-search [type="search"] {
    width: 332px;
    padding: 8px 8px;
    border-radius: 3px;
    border: 0.5px solid #DEDEDE;
    font-size: 12px; }
    .section-header-info-search input::placeholder,
    .section-header-info-search [type="search"]::placeholder {
      font-size: 12px;
      font-weight: 600; }
  .section-header-info-price {
    font-size: 16px;
    font-weight: 600; }
    .section-header-info-price span {
      border-bottom: 1px dashed #056DD0; }
  .section-header-info-mail {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #443E3E; }
    .section-header-info-mail:hover span {
      color: #056DD0; }
    .section-header-info-mail .mail {
      width: 20px;
      height: 13px;
      fill: #056DD0; }
    .section-header-info-mail span {
      margin-left: 9px;
      font-size: 12px;
      font-weight: 600; }
  .section-header-info-schedule {
    display: flex;
    flex-direction: column;
    text-align: end; }
    .section-header-info-schedule__time {
      font-size: 16px;
      font-weight: 700; }
    .section-header-info-schedule__driveway {
      font-size: 12px;
      font-weight: 600;
      text-decoration: none;
      color: #5C5C5C; }
      .section-header-info-schedule__driveway span {
        border-bottom: 1px solid #056DD0; }

.section-header-nav {
  background: linear-gradient(180deg, #247FD5 0%, #055DA5 100%); }
  .section-header-nav .section-inner {
    display: flex;
    justify-content: flex-end; }
  .section-header-nav__item {
    position: relative;
    padding: 14px 0;
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none; }
    .section-header-nav__item + .section-header-nav__item {
      margin-left: 64px; }
    .section-header-nav__item span {
      position: relative;
      z-index: 10; }
  .section-header-nav__item.active:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: -11px;
    width: calc(100% + 22px);
    height: 45px;
    background: #004179; }

.section-banner {
  padding-top: 15px;
  padding-bottom: 24px; }
  .section-banner .section-inner {
    display: flex; }
  .section-banner-column {
    max-width: 200px;
    width: 100%; }
    .section-banner-column__item:first-child {
      margin-bottom: 15px; }
  .section-banner-slider {
    margin: 0 20px; }
  .section-banner img {
    width: 100%;
    height: 100%; }

.section-advantages {
  padding-top: 22px;
  padding-bottom: 22px; }
  .section-advantages .section-inner {
    display: flex;
    justify-content: space-between; }
  .section-advantages-item {
    display: flex;
    align-items: center; }
    .section-advantages-item__img {
      margin-right: 24px; }
    .section-advantages-item__text {
      font-size: 16px;
      font-weight: 600;
      color: #5C5C5C; }

.section-categories {
  padding-top: 70px; }
  .section-categories .headline {
    margin-left: 15px; }
  .section-categories .section-inner {
    max-width: 1355px; }
  .section-categories-slider .slider {
    position: relative;
    padding-top: 26px; }
    .section-categories-slider .slider .slide + .slide {
      margin-left: 15px; }
    .section-categories-slider .slider .slide {
      position: relative;
      padding-top: 30px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 204px;
      height: 204px;
      border-radius: 17px;
      outline: none;
      background-color: #FAFAFA;
      transition: box-shadow 0.2s ease-in-out;
      cursor: pointer; }
      .section-categories-slider .slider .slide:hover {
        box-shadow: 0px 19px 35px -20px rgba(0, 0, 0, 0.61); }
        .section-categories-slider .slider .slide:hover .slide__count {
          opacity: 1; }
      .section-categories-slider .slider .slide__img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 107px; }
      .section-categories-slider .slider .slide__text {
        margin-top: auto;
        font-size: 15px;
        font-weight: 700;
        color: #443E3E; }
      .section-categories-slider .slider .slide__count {
        position: absolute;
        top: 11px;
        right: 8px;
        padding: 2px 9px;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 700;
        background-color: #056DD0;
        color: #FFFFFF;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.2s ease-in-out; }

.section-shop .section-inner {
  max-width: 1351px; }

.section-shop-filters {
  margin-right: 13px;
  margin-left: 13px;
  display: flex; }
  .section-shop-filters__item + .section-shop-filters__item {
    margin-left: 77px; }
  .section-shop-filters__item {
    font-size: 20px;
    text-decoration: none;
    color: #5C5C5C; }
    .section-shop-filters__item:hover {
      font-weight: 700;
      color: #056DD0; }
  .section-shop-filters .active {
    font-weight: 700;
    color: #056DD0; }

.section-shop-items {
  display: flex;
  flex-wrap: wrap; }

.section-blog {
  padding-top: 50px; }
  .section-blog .headline {
    margin-bottom: 40px; }
  .section-blog-slider {
    position: relative; }
    .section-blog-slider .slide + .slide {
      margin-left: 16px; }
    .section-blog-slider .slide {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 420px;
      height: 260px;
      padding: 0 56px 16px 18px;
      border-radius: 8px;
      overflow: hidden; }
      .section-blog-slider .slide__text, .section-blog-slider .slide__link {
        position: relative;
        z-index: 10; }
      .section-blog-slider .slide__text {
        font-size: 12px;
        font-weight: 500;
        color: #FFFFFF; }
      .section-blog-slider .slide__link {
        margin-top: 20px;
        font-size: 15px;
        font-weight: 700;
        color: #FFFFFF; }

.section-manufacturer {
  padding-top: 50px; }
  .section-manufacturer .headline {
    margin-bottom: 30px; }
  .section-manufacturer-items {
    display: flex;
    justify-content: space-between; }

.section-our-works {
  padding-top: 50px; }
  .section-our-works .headline {
    margin-bottom: 40px; }
  .section-our-works-slider {
    position: relative; }
    .section-our-works-slider .slide + .slide {
      margin-left: 18px; }
    .section-our-works-slider .slide {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 310px;
      height: 210px;
      padding: 0 60px 10px 12px;
      border-radius: 8px;
      overflow: hidden; }
      .section-our-works-slider .slide:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        height: 100%;
        background-color: #000;
        opacity: 0;
        transition: opacity 0.4s ease-in-out; }
      .section-our-works-slider .slide:hover.slide:before {
        opacity: 0.4; }
      .section-our-works-slider .slide__name, .section-our-works-slider .slide__text {
        opacity: 0;
        transform: translateY(-40px); }
      .section-our-works-slider .slide__name, .section-our-works-slider .slide__text {
        position: relative;
        z-index: 101;
        color: #FFFFFF; }
      .section-our-works-slider .slide__name {
        font-size: 20px;
        font-weight: 800;
        transition: opacity 0.2s ease-in-out, transform 0.4s ease-out;
        transition-delay: 0.2s; }
      .section-our-works-slider .slide__text {
        margin-top: 16px;
        font-size: 15px;
        transition: opacity 0.2s ease-out, transform 0.4s ease-in-out; }
    .section-our-works-slider .slide:hover .slide__name,
    .section-our-works-slider .slide:hover .slide__text {
      opacity: 1;
      transform: translateY(0); }

.section-testimonials {
  padding-top: 50px; }
  .section-testimonials .headline {
    margin-bottom: 40px; }

.section-our-clients {
  padding-top: 50px; }
  .section-our-clients .headline {
    margin-bottom: 40px; }
  .section-our-clients-items {
    display: flex; }
  .section-our-clients-item + .section-our-clients-item {
    margin-left: 20px; }
  .section-our-clients-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 200px;
    height: 150px;
    padding: 0 6px 32px 6px;
    border-radius: 5px;
    overflow: hidden; }
    .section-our-clients-item:after {
      content: "";
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #247fd5;
      opacity: 0;
      transition: opacity 0.2s ease-in-out; }
    .section-our-clients-item__background {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0; }
      .section-our-clients-item__background img {
        width: 100%;
        height: 100%; }
    .section-our-clients-item__title, .section-our-clients-item__text {
      position: relative;
      z-index: 100;
      color: #FFFFFF;
      opacity: 0;
      transition: opacity 0.2s ease-in-out; }
    .section-our-clients-item__title {
      position: relative;
      font-size: 12px;
      font-weight: 600; }
      .section-our-clients-item__title:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 0.5px;
        background-color: #FFFFFF;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 0.2s ease-out;
        transition-delay: 0.2s; }
    .section-our-clients-item__text {
      margin-top: 7px;
      font-size: 10px; }
    .section-our-clients-item:hover .section-our-clients-item__title,
    .section-our-clients-item:hover .section-our-clients-item__text {
      opacity: 1; }
    .section-our-clients-item:hover .section-our-clients-item__title:after {
      transform: scaleX(1); }
  .section-our-clients-item:hover.section-our-clients-item:after {
    opacity: 0.4; }

.section-certificates {
  padding-top: 50px; }
  .section-certificates .headline {
    margin-bottom: 40px; }
  .section-certificates-items {
    display: flex;
    justify-content: space-between; }

.section-discounts {
  padding-top: 50px; }
  .section-discounts .section-inner {
    max-width: 1339px; }
  .section-discounts .headline {
    margin-left: 7px;
    margin-bottom: 14px; }
  .section-discounts__items {
    display: flex; }

.section-news {
  padding-top: 50px; }
  .section-news .headline {
    margin-bottom: 40px; }
  .section-news-items {
    display: flex;
    justify-content: space-between; }
    .section-news-items-column + .section-news-items-column {
      margin-left: 20px; }
    .section-news-items-column .section-news-item + .section-news-item {
      margin-top: 20px; }
  .section-news-item {
    display: flex;
    max-width: 420px;
    width: 100%;
    padding: 11px 18px 11px 14px;
    border-radius: 5px;
    background: #EEEEEE; }
    .section-news-item__content {
      display: flex;
      flex-direction: column; }
    .section-news-item__img {
      margin-right: 14px; }
    .section-news-item__title {
      font-size: 15px;
      font-weight: 700;
      color: #056DD0; }
    .section-news-item__text, .section-news-item__date {
      font-weight: 500;
      font-size: 12px; }
    .section-news-item__text {
      margin-top: 10px; }
    .section-news-item__date {
      margin-top: auto;
      text-align: end; }
    .section-news-item--big {
      flex-direction: column;
      padding: 24px 18px 20px 18px;
      height: 100%; }
      .section-news-item--big__img {
        margin-bottom: 20px;
        margin-right: 0; }
      .section-news-item--big__date {
        margin-top: auto; }

.section-recently-seen {
  padding-top: 50px; }
  .section-recently-seen .section-inner {
    max-width: 1339px; }
  .section-recently-seen .headline {
    margin-left: 7px;
    margin-bottom: 14px; }
  .section-recently-seen-items {
    display: flex; }

.section-mailing {
  padding: 65px 0; }
  .section-mailing .section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1030px; }
  .section-mailing-text {
    color: #5C5C5C; }
  .section-mailing-input {
    max-width: 332px;
    width: 100%; }
    .section-mailing-input input {
      width: 100%;
      height: 18px;
      outline: none;
      font-size: 10px;
      font-weight: 600; }

.section-page {
  padding-top: 24px; }
  .section-page-title {
    font-size: 20px;
    font-weight: 600; }
  .section-page-breadcrumbs {
    margin-top: 14px; }
    .section-page-breadcrumbs-item {
      position: relative;
      font-size: 12px;
      font-weight: 600;
      color: #5C5C5C; }
      .section-page-breadcrumbs-item + .section-page-breadcrumbs-item {
        margin-left: 4px; }
        .section-page-breadcrumbs-item + .section-page-breadcrumbs-item:after {
          content: "-";
          position: absolute;
          left: -7px;
          top: 50%;
          transform: translateY(-50%); }
  .section-page-main {
    display: flex;
    margin-top: 17px; }

.section-filter {
  max-width: 310px;
  margin-right: 20px;
  padding-bottom: 50px; }
  .section-filter-category {
    padding: 4px 0px;
    border: 0.5px solid #E4E4E4;
    border-radius: 5px; }
    .section-filter-category-item {
      display: flex;
      align-items: center;
      padding: 6px 24px;
      font-size: 15px;
      font-weight: 500; }
      .section-filter-category-item + .section-filter-category-item {
        border-top: 0.5px solid #E4E4E4; }
      .section-filter-category-item__img {
        margin-right: 50px; }
  .section-filter-brands {
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E4E4E4; }
    .section-filter-brands-wrapper {
      display: flex;
      flex-direction: column;
      max-height: 236px;
      margin-bottom: 20px;
      overflow-y: scroll; }
    .section-filter-brands-item {
      color: #5C5C5C; }
      .section-filter-brands-item + .section-filter-brands-item {
        margin-top: 20px; }
      .section-filter-brands-item__text {
        font-size: 12px;
        font-weight: 600; }
      .section-filter-brands-item__input-text {
        margin-left: 40px;
        font-size: 12px;
        font-weight: 500; }
    .section-filter-brands-buttons {
      display: flex;
      justify-content: space-between; }
  .section-filter-button {
    width: 152px;
    height: 30px;
    border-radius: 5px;
    background: linear-gradient(180deg, #056DD0 0%, #06538B 100%);
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer; }
  .section-filter-mailing {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E4E4E4; }
    .section-filter-mailing-text {
      font-size: 12px;
      font-weight: 500;
      color: #5C5C5C; }
    .section-filter-mailing p {
      margin-top: 0;
      margin-bottom: 0; }
    .section-filter-mailing-form {
      display: flex;
      justify-content: space-between; }
      .section-filter-mailing-form__input {
        width: 152px;
        height: 30px;
        border-radius: 5px;
        outline: none;
        border: none;
        background: #FFFFFF;
        box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.1);
        font-size: 12px;
        font-weight: 500;
        color: #000000;
        transition: background 0.2s ease-in-out; }
        .section-filter-mailing-form__input::placeholder {
          font-size: 12px;
          font-weight: 500;
          color: #000000; }
        .section-filter-mailing-form__input:focus {
          background: #dadada; }
  .section-filter-articles {
    padding-top: 20px; }
    .section-filter-articles .headline {
      margin-bottom: 20px; }
    .section-filter-articles-item {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 238px;
      margin-top: 24px;
      padding: 16px;
      border-radius: 5px;
      overflow: hidden; }
      .section-filter-articles-item-outer {
        margin-top: 24px; }
      .section-filter-articles-item:after {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(36, 127, 213, 0.4); }
      .section-filter-articles-item__background {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
        .section-filter-articles-item__background img {
          width: 100%;
          height: 100%; }
      .section-filter-articles-item__title {
        margin: auto 0;
        position: relative;
        z-index: 10;
        font-size: 25px;
        font-weight: 700;
        color: #FFFFFF; }
  .section-filter .full-item {
    position: relative;
    padding: 20px 15px;
    border-radius: 5px;
    background: #EEEEEE; }
    .section-filter .full-item__title {
      margin-top: 18px;
      font-size: 15px;
      font-weight: 700;
      color: #056DD0; }
    .section-filter .full-item__text {
      margin-top: 10px;
      margin-bottom: 28px;
      font-size: 12px;
      font-weight: 500; }
    .section-filter .full-item .item__more {
      bottom: 22px;
      color: #056DD0; }
  .section-filter .item__more {
    position: absolute;
    bottom: 16px;
    right: 26px;
    z-index: 100;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none; }
  .section-filter-news {
    padding-top: 20px; }
    .section-filter-news .headline {
      margin-bottom: 20px; }

.section-content {
  width: 100%; }
  .section-content-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 964px;
    height: 284px;
    padding: 0 36px;
    background: linear-gradient(90deg, #72C6EF 0%, #004E8F 100%);
    color: #FFFFFF; }
    .section-content-banner-text {
      font-size: 40px;
      font-weight: 700; }
    .section-content-banner-button {
      margin-top: 50px;
      width: 160px;
      height: 38px;
      border-radius: 3px;
      font-size: 12px;
      font-weight: 600;
      background: #F58020;
      color: #FFFFFF;
      cursor: pointer; }
  .section-content-requests {
    padding-top: 20px; }
    .section-content-requests-title {
      margin-bottom: 10px;
      font-size: 12px;
      font-weight: 600;
      color: #5C5C5C; }
    .section-content-requests-items {
      display: flex;
      flex-wrap: wrap; }
    .section-content-requests-item {
      margin-top: 5px;
      margin-left: 5px;
      padding: 5px;
      border-radius: 6px;
      cursor: pointer; }
      .section-content-requests-item:hover {
        background: #056DD0; }
        .section-content-requests-item:hover span {
          color: #FFFFFF; }
      .section-content-requests-item span {
        font-size: 12px;
        font-weight: 500;
        color: #5C5C5C; }
    .section-content-requests-item.active {
      background: #056DD0; }
      .section-content-requests-item.active span {
        color: #FFFFFF; }
  .section-content-img-filter {
    display: flex;
    margin-top: 100px; }
    .section-content-img-filter-item {
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer; }
      .section-content-img-filter-item:hover {
        box-shadow: 6px 6px 23px 4px rgba(0, 0, 0, 0.25); }
      .section-content-img-filter-item + .section-content-img-filter-item {
        margin-left: 26px; }
  .section-content-select {
    margin-top: 24px; }
    .section-content-select select {
      width: 206px;
      height: 26px;
      border-radius: 5px;
      border: 0.5px solid #E4E4E4; }
  .section-content-shop {
    display: flex;
    flex-wrap: wrap; }
    .section-content-shop-outer {
      display: flex;
      flex-direction: column; }
    .section-content-shop-more {
      margin: 45px auto 34px;
      width: 728px;
      height: 30px;
      border: 0.5px solid #E4E4E4;
      border-radius: 5px;
      font-size: 12px;
      font-weight: 600;
      background-color: #FFFFFF;
      color: #5C5C5C;
      cursor: pointer; }
    .section-content-shop-pages {
      display: flex;
      align-items: flex-end; }
      .section-content-shop-pages-item {
        font-size: 15px;
        font-weight: 600;
        color: #056DD0;
        text-decoration: none; }
        .section-content-shop-pages-item + .section-content-shop-pages-item {
          margin-left: 10px; }
        .section-content-shop-pages-item-next {
          margin-left: 82px;
          font-weight: 600;
          font-size: 12px;
          text-decoration: none;
          color: #5C5C5C; }
  .section-content-advantages {
    padding-top: 50px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between; }
    .section-content-advantages-item {
      display: flex;
      align-items: center; }
      .section-content-advantages-item__img {
        margin-right: 26px; }
      .section-content-advantages-item__text {
        font-size: 16px;
        font-weight: 600;
        color: #5C5C5C; }

.section-product {
  padding: 28px 6px 28px 16px;
  border: 0.5px solid #E4E4E4;
  border-radius: 5px;
  display: flex; }
  .section-product-item {
    margin-right: 50px; }
    .section-product-item__img {
      position: relative;
      margin-bottom: 18px;
      border: 0.5px solid #E4E4E4;
      border-radius: 5px;
      overflow: hidden; }
      .section-product-item__img-discount {
        position: absolute;
        top: 8px;
        left: 8px;
        padding: 1px 5px;
        border-radius: 7px;
        font-size: 15px;
        font-weight: 700;
        background: #069447;
        color: #FFFFFF; }
    .section-product-item__text {
      margin-top: 10px;
      font-size: 12px;
      font-weight: 500;
      color: #5C5C5C; }
  .section-product-description {
    max-width: 416px;
    width: 100%; }
    .section-product-description-rating {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .section-product-description-rating-article {
        margin-right: 46px; }
        .section-product-description-rating-article span {
          font-size: 12px;
          font-weight: 500;
          color: #5C5C5C; }
        .section-product-description-rating-article span + span {
          margin-left: 38px; }
    .section-product-description-text {
      margin-top: 28px;
      font-size: 12px;
      font-weight: 500;
      color: #5C5C5C; }
    .section-product-description-name {
      max-width: 260px;
      width: 100%; }
    .section-product-description-payment {
      display: flex;
      flex-direction: column;
      margin-top: 14px; }
    .section-product-description-price {
      margin-top: 10px; }
    .section-product-description-order-item {
      margin-top: 4px; }
    .section-product-description-order span {
      position: relative;
      margin-left: 16px; }
      .section-product-description-order span:after {
        content: "";
        position: absolute;
        top: 50%;
        left: -12px;
        transform: translateY(-50%);
        width: 4px;
        height: 4px;
        background: #5C5C5C;
        border-radius: 50%; }
      .section-product-description-order span:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -14px;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        background: #FFFFFF;
        border-radius: 50%;
        border: 1px solid #5C5C5C; }
    .section-product-description-order a {
      margin-left: 60px;
      text-decoration: none;
      border-bottom: 1px dashed #5C5C5C;
      color: #5C5C5C;
      font-size: 12px;
      font-weight: 400; }
    .section-product-description-yandex {
      display: flex;
      align-items: center;
      margin-top: 6px; }
      .section-product-description-yandex .star {
        margin-right: 8px; }
    .section-product-description-count {
      display: flex;
      margin-top: 6px; }
      .section-product-description-count .num-block {
        margin-right: 24px; }
    .section-product-description-note {
      margin-top: 14px; }
    .section-product-description .left {
      margin-left: 50%; }
    .section-product-description .bold {
      font-weight: 600; }
  .section-product-img {
    width: 100%;
    height: auto;
    margin-top: 8px; }
    .section-product-img img {
      width: 100%; }
  .section-product .star {
    width: 12px;
    height: 12px;
    fill: #FDB64E; }
    .section-product .star + .section-product .star {
      margin-left: 2px; }
  .section-product .star.active {
    fill: #F57C1F; }
  .section-product .num-block {
    width: 80px;
    border-radius: 5px;
    background: #EEEEEE; }
    .section-product .num-block .num-in {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 22px; }
    .section-product .num-block input {
      text-align: center;
      width: 30px;
      height: 100%;
      border: none;
      font-size: 14px;
      font-weight: 700;
      color: #5C5C5C;
      background: none; }
    .section-product .num-block span {
      text-align: center;
      width: 25px;
      font-size: 14px;
      font-weight: 700;
      color: #5C5C5C;
      cursor: pointer; }
  .section-product-order {
    background: none;
    cursor: pointer; }
    .section-product-order span {
      font-size: 15px;
      font-weight: 700;
      color: #247FD5; }
    .section-product-order .cart {
      width: 16px;
      height: 16px;
      fill: #247FD5; }
  .section-product-tabs {
    margin-top: 14px; }
    .section-product-tabs-names {
      display: flex;
      align-items: flex-start; }
    .section-product-tabs-name {
      position: relative;
      padding: 4px 10.6px;
      border-radius: 0px 10px 0px 0px;
      font-size: 12px;
      font-weight: 600;
      text-decoration: none;
      color: #FFFFFF;
      background: #056DD0; }
    .section-product-tabs-name--active, .section-product-tabs-name:hover {
      color: #056DD0;
      background: #FFFFFF; }
      .section-product-tabs-name--active:after, .section-product-tabs-name:hover:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 2px);
        height: 19px;
        border: 0.5px solid #056DD0;
        border-radius: 0px 10px 0px 0px; }
    .section-product-tabs-text {
      display: none; }
      .section-product-tabs-text--active {
        display: block; }
      .section-product-tabs-text table {
        border-spacing: 0; }
        .section-product-tabs-text table tr {
          display: flex; }
        .section-product-tabs-text table td {
          padding: 18px 7px;
          border: 0.5px solid #E4E4E4; }
          .section-product-tabs-text table td:first-child {
            max-width: 395px;
            width: 100%;
            border-right: none; }
          .section-product-tabs-text table td:last-child {
            max-width: 575px;
            width: 100%; }
  .section-product-more {
    margin-top: 20px; }
    .section-product-more:last-child {
      margin-bottom: 24px; }
    .section-product-more-items {
      display: flex;
      flex-wrap: wrap; }

.section-footer {
  padding: 30px 0 190px 0;
  background-color: #056DD0; }
  .section-footer .section-inner {
    display: flex;
    justify-content: space-between; }
  .section-footer-title {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF; }
  .section-footer-links {
    display: flex;
    flex-direction: column; }
  .section-footer-link + .section-footer-link {
    margin-top: 18px; }
  .section-footer-link {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none; }
    .section-footer-link:hover {
      text-decoration: underline; }
    .section-footer-link--bold {
      margin-top: 36px !important;
      font-size: 15px;
      font-weight: 700; }
    .section-footer-link svg {
      margin-right: 6px; }
  .section-footer-link--no-hover:hover {
    text-decoration: none; }
  .section-footer-media {
    display: flex;
    align-items: center;
    margin-top: 20px; }
    .section-footer-media-item + .section-footer-media-item {
      margin-left: 30px; }
  .section-footer .inst,
  .section-footer .youtube {
    width: 21px;
    height: 21px; }
  .section-footer .facebook {
    width: 20px;
    height: 21px; }
  .section-footer .vk {
    width: 27px;
    height: 25px; }
  .section-footer .mail {
    width: 20px;
    height: 13px; }
  .section-footer .tel {
    width: 13px;
    height: 13px; }
  .section-footer svg {
    fill: #FFFFFF; }
    .section-footer svg:hover {
      fill: #999999; }
