// Variables
$color-main: #443E3E;
$color-main--lighter: #5C5C5C;
$color-header-gray: #999999;
$color-white: #FFFFFF;
$color-blue: #056DD0;
$color-blue--lighter: #247FD5;
$color-price: #069447;
$color-black: #000000;
// /Variables

// Mixins

// /Mixins

// Fonts
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-regular.eot');
	src: url('../fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gilroy-regular.woff2') format('woff2'),
		url('../fonts/gilroy-regular.woff') format('woff'),
		url('../fonts/gilroy-regular.ttf') format('truetype'),
		url('../fonts/gilroy-regular.svg#gilroy-regular') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-medium.eot');
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gilroy-medium.woff2') format('woff2'),
		url('../fonts/gilroy-medium.woff') format('woff'),
		url('../fonts/gilroy-medium.ttf') format('truetype'),
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-bold.eot');
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gilroy-bold.woff2') format('woff2'),
		url('../fonts/gilroy-bold.woff') format('woff'),
		url('../fonts/gilroy-bold.ttf') format('truetype'),
		url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-semibold.eot');
	src: url('../fonts/gilroy-semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gilroy-semibold.woff2') format('woff2'),
		url('../fonts/gilroy-semibold.woff') format('woff'),
		url('../fonts/gilroy-semibold.ttf') format('truetype'),
		url('../fonts/gilroy-semibold.svg#gilroy-semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}
// /Fonts

// Common
* {
    box-sizing: border-box;
}

body {
    color: $color-main;
    font-family: 'Gilroy';
    font-weight: 500;
}

img {
    display: block;
}

.section-inner {
	margin: 0 auto;
    max-width: 1325px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.order-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 38px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: $color-white;
    background: linear-gradient(177.99deg, #056DD0 1.69%, #06538B 155.53%);
}

.headline {
    display: flex;
    align-items: center;
}

.title {
    font-size: 25px;
    font-weight: 700;
    color: $color-main;

    &-all {
        display: flex;
        margin-left: 60px;
        align-items: center;
        text-decoration: none;

        &__plus {
            display: flex;
        }

        .plus {
            width: 16px;
            height: 16px;
            margin-right: 9px;
            fill: $color-blue;
        }

        &__text {
            font-size: 18px;
            font-weight: 500;
            color: $color-blue;
        }
    }
}

.card {
    width: 206px;
    margin-top: 26px;
    margin-right: 7px;
    margin-left: 7px;
    padding: 8px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.08), 0px 1px 12px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
        box-shadow: 0px 9px 80px rgba(0, 0, 0, 0.18), 0px 3.46667px 25.4815px rgba(0, 0, 0, 0.109333), 0px 0.733333px 6.51852px rgba(0, 0, 0, 0.0706667);
    }

    &-key-words {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        font-size: 10px;

        &__category {
            font-weight: 700;
            color: $color-header-gray;
        }

        &__article {
            font-weight: 500;
            color: $color-main--lighter;
        }
    }

    &-headline {
        margin-top: 11px;
        display: flex;
        justify-content: space-between;
    }

    &-title {
        font-size: 15px;
        font-weight: 700;
    }

    &-rating {
        display: flex;
    }

    &-description {
        margin-top: 7px;
        font-size: 10px;
        width: 95%;
    }

    &-prices-outer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 14px;
    }

    &-prices {
        &-old-price {
            font-size: 12px;
            font-weight: 600;
            text-decoration-line: line-through;
            color: $color-main--lighter;
        }

        &-current-price {
            margin-top: 2px;
            font-size: 15px;
            font-weight: 700;
        }
    }

    &-discount {
        padding: 0 5px;
        border-radius: 7px;
        font-size: 15px;
        font-weight: 700;
        color: $color-white;
        background: $color-price;
    }

    &-button {
        position: relative;
        display: flex;
        width: 101px;
        height: 32px;
        margin-top: 8px;
        padding-left: 8px;
        align-items: center;
        border: 1px solid $color-blue--lighter;
        border-radius: 8px;
        background: none;
        cursor: pointer;

        &__img {
            svg {
                display: block;
            }
        }

        &__text {
            position: relative;
            z-index: 10;
            font-size: 14px;
            font-weight: 700;
            color: $color-blue--lighter;
            transition: color 0.2s ease-in-out;
        }

        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            top: -1px;
            left: -1px;
            width: 103px;
            height: 34px;
            border-radius: 8px;
            background-color: $color-blue--lighter;
            transform-origin: center;
            transform: scale(0);
            transition: transform 0.2s ease-in-out;
        }

        &:hover.card-button:after {
            transform: scale(1);
            color: $color-white;
        }

        &:hover {
            .card-button__text {
                color: $color-white;
            }

            .cart {
                fill: $color-white;
            }
        }
    }

    .cart {
        position: relative;
        z-index: 10;
        margin-right: 8px;
        width: 13px;
        height: 13px;
        fill: $color-blue--lighter;
        transition: fill 0.2s ease-in-out;
    }

    .star {
        width: 11px;
        height: 11px;
        fill: #FDB64E;
    }

    .star.active {
        fill: #F57C1F;
    }

    .star + .star {
        margin-left: 2px;
    }
}
// /Common

// Slick
.slick-track {
    display: flex;
    margin: 0 auto;
}

#categories-slider .slick-arrow {
    transform: translateY(-75%);
}

#categories-slider .slick-list {
    padding: 0 15px 50px 15px;
}

#categories-slider .slick-arrow.slick-prev {
    left: -10px;
}

#categories-slider .slick-arrow.slick-next {
    right: -10px;
}

.slick-arrow.slick-prev {
    left: -20px;
}

.slick-arrow.slick-next {
    right: -20px;
}

#blog-slider .slide{
    width: 420px;
    height: 260px;
}

.slide {
    position: relative;
    outline: none;

    &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.slick-list {
    overflow: hidden;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 100;
    width: 37px;
    height: 37px;
    outline: 0;
    border: none;
    border-radius: 10px;
    font-size: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.slick-arrow.slick-prev {
    background: url('../img/categories/slider/button-prev.svg') 0 0 / 100%;
}

.slick-arrow.slick-next {
    background: url('../img/categories/slider/button-next.svg') 0 0 / 100%;
}
// /Slick

// Header
.section-header {
    &-top {
        padding: 6px 0;
        border-bottom: 1px solid rgba(5, 109, 208, 0.26);

        .section-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-info {
            display: flex;
            &-item {
                font-size: 12px;
                font-weight: 700;
                text-decoration: none;
                color: $color-header-gray;

                & + & {
                    margin-left: 25px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &-media-and-button {
            display: flex;
        }

        &-media {
            display: flex;
            align-items: center;
            &__link {
                text-decoration: none;
                & + & {
                    margin-left: 13px;
                }
            }
            svg {
                fill: $color-black;

                &:hover {
                    fill: $color-header-gray;
                }
            }

            .inst,
            .youtube {
                width: 21px;
                height: 21px;
            }

            .facebook {
                width: 21px;
                height: 21px;
            }

            .vk {
                width: 26px;
                height: 26px;
            }
        }

        .order-button {
            margin-left: 60px;
        }
    }

    &-info {
        padding-top: 12px;
        padding-bottom: 12px;
        color: $color-main--lighter;

        .section-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-consultations {
            display: flex;
            flex-direction: column;

            &__text {
                margin-bottom: 5px;
                font-size: 12px;
                font-weight: 700;
                color: $color-header-gray;
            }

            &__tel {
                text-decoration: none;
                .tel {
                    width: 12px;
                    height: 12px;
                    fill: #056DD0;
                }

                span {
                    color: $color-main;
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }

        &-search {
            input,
            [type="search"] {
                width: 332px;
                padding: 8px 8px;
                border-radius: 3px;
                border: 0.5px solid #DEDEDE;
                font-size: 12px;

                &::placeholder {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }

        &-price {
            font-size: 16px;
            font-weight: 600;

            span {
                border-bottom: 1px dashed $color-blue;
            }
        }

        &-mail {
            .mail {
                width: 20px;
                height: 13px;
                fill: #056DD0;
            }

            span {
                margin-left: 9px;
                font-size: 12px;
                font-weight: 600;
            }
        }

        &-schedule {
            display: flex;
            flex-direction: column;
            text-align: end;

            &__time {
                font-size: 16px;
                font-weight: 700;
            }

            &__driveway {
                font-size: 12px;
                font-weight: 600;
                text-decoration: none;
                color: $color-main--lighter;

                span {
                    border-bottom: 1px solid $color-blue;
                }
            }
        }
    }

    &-nav {
        padding: 14px;
        background: linear-gradient(180deg, #247FD5 0%, #055DA5 100%);

        .section-inner {
            display: flex;
            justify-content: space-between;
        }

        &__item {
            font-size: 15px;
            font-weight: 600;
            color: $color-white;
            text-decoration: none;
        }
    }
}
// /Header

// Banner
.section-banner {
    padding-top: 15px;
    padding-bottom: 24px;
    .section-inner {
        display: flex;
    }
    &-column {
        max-width: 200px;
        width: 100%;

        &__item {
            &:first-child {
                margin-bottom: 15px;
            }
        }
    }

    &-slider {
        margin: 0 20px;
    }

    img {
        width: 100%;
        height: 100%;
    }
}
// /Banner

// Advantages
.section-advantages {
    padding-top: 22px;
    padding-bottom: 22px;
    .section-inner {
        display: flex;
        justify-content: space-between;
    }

    &-item {
        display: flex;
        align-items: center;

        &__img {
            margin-right: 24px;
        }

        &__text {
            font-size: 16px;
            font-weight: 600;
            color: $color-main--lighter;
        }
    }
}
// /Advantages

// Categories
.section-categories {
    padding-top: 70px;

    .headline {
        margin-left: 15px;
    }

    .section-inner {
        max-width: 1355px;
    }

    &-slider {
        .slider {
            position: relative;
            padding-top: 26px;

            .slide + .slide {
                margin-left: 15px;
            }

            .slide {
                position: relative;
                padding-top: 30px;
                padding-bottom: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 204px;
                height: 204px;
                border-radius: 17px;
                outline: none;
                background-color: #FAFAFA;
                transition: box-shadow 0.2s ease-in-out;
                cursor: pointer;

                &:hover {
                    box-shadow: 0px 19px 35px -20px rgba(0,0,0,0.61);

                    .slide__count {
                        opacity: 1;
                    }
                }


                &__img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 107px;
                }

                &__text {
                    margin-top: auto;
                    font-size: 15px;
                    font-weight: 700;
                    color: $color-main;
                }

                &__count {
                    position: absolute;
                    top: 11px;
                    right: 8px;
                    padding: 2px 9px;
                    border-radius: 10px;
                    font-size: 15px;
                    font-weight: 700;
                    background-color: $color-blue;
                    color: $color-white;
                    pointer-events: none;
                    opacity: 0;
                    transition: opacity 0.2s ease-in-out;
                }
            }
        }
    }
}
// /Categories

// Items
.section-shop {

    .section-inner {
        max-width: 1351px;
    }

    &-filters {
        margin-right: 13px;
        margin-left: 13px;
        display: flex;

        &__item + &__item {
            margin-left: 77px;
        }

        &__item {   
            font-size: 20px;
            text-decoration: none;
            color: $color-main--lighter;

            &:hover {
                font-weight: 700;
                color: $color-blue;
            }
        }

        .active {
            font-weight: 700;
            color: $color-blue;
        }
    }

    &-items {
        display: flex;
        flex-wrap: wrap;
    }
}
// /Items

// Blog
.section-blog {
    padding-top: 50px;

    .headline {
        margin-bottom: 40px;
    }

    &-slider {
        position: relative;

        .slide + .slide {
            margin-left: 16px;
        }

        .slide {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 420px;
            height: 260px;
            padding: 0 56px 16px 18px;
            border-radius: 8px;
            overflow: hidden;

            &__text,
            &__link {
                position: relative;
                z-index: 10;
            }

            &__text {
                font-size: 12px;
                font-weight: 500;
                color: $color-white;
            }

            &__link {
                margin-top: 20px;
                font-size: 15px;
                font-weight: 700;
                color: $color-white;
            }
        }
    }
}
// /Blog

// Manufacturer
.section-manufacturer {
    padding-top: 50px;

    .headline {
        margin-bottom: 30px;
    }

    &-items {
        display: flex;
        justify-content: space-between;
    }
}
// /Manufacturer

// Our-works
.section-our-works {
    padding-top: 50px;

    .headline {
        margin-bottom: 40px;
    }

    &-slider {
        position: relative;

        .slide + .slide {
            margin-left: 18px;
        }

        .slide {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 310px;
            height: 210px;
            padding: 0 60px 10px 12px;
            border-radius: 8px;
            overflow: hidden;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 100;
                height: 100%;
                background-color: #000;
                opacity: 0;
                transition: opacity 0.4s ease-in-out;
            }

            &:hover.slide:before {
                opacity: 0.4;
            }

            &__name,
            &__text {
                opacity: 0;
                transform: translateY(-40px);
            }

            &__name,
            &__text {
                position: relative;
                z-index: 101;
                color: $color-white;
            }

            &__name {
                font-size: 20px;
                font-weight: 800;
                transition: opacity 0.2s ease-in-out, transform 0.4s ease-out;
                transition-delay: 0.2s;
            }

            &__text {
                margin-top: 16px;
                font-size: 15px;
                transition: opacity 0.2s ease-out, transform 0.4s ease-in-out;
            }
        }

        .slide:hover {
            .slide__name,
            .slide__text {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}
// /Our-works

// Testimonials
.section-testimonials {
    padding-top: 50px;

    .headline {
        margin-bottom: 40px;
    }
}
// /Testimonials

// Our-clients
.section-our-clients {
    padding-top: 50px;

    .headline {
        margin-bottom: 40px;
    }

    &-items {
        display: flex;
    }

    &-item + &-item {
        margin-left: 20px;
    }

    &-item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 200px;
        height: 150px;
        padding: 0 6px 32px 6px;
        border-radius: 5px;
        overflow: hidden;

        &:after {
            content: "";
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #247fd5;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }

        &__background {
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__title,
        &__text {
            position: relative;
            z-index: 100;
            color: $color-white;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }

        &__title {
            position: relative;
            font-size: 12px;
            font-weight: 600;

            &:after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 0.5px;
                background-color: $color-white;
                transform-origin: left;
                transform: scaleX(0);
                transition: transform 0.2s ease-out;
                transition-delay: 0.2s;
            }
        }

        &__text {
            margin-top: 7px;
            font-size: 10px;
        }

        &:hover .section-our-clients-item__title,
        &:hover .section-our-clients-item__text {
            opacity: 1;
        }

        &:hover .section-our-clients-item__title:after {
            transform: scaleX(1);
        }
    }

    &-item:hover.section-our-clients-item:after {
        opacity: 0.4;
    }
}
// /Our-clients

// Certificates
.section-certificates {
    padding-top: 50px;

    .headline {
        margin-bottom: 40px;
    }

    &-items {
        display: flex;
        justify-content: space-between;
    }
}
// /Certificates

// Discounts
.section-discounts {
    padding-top: 50px;

    .section-inner {
        max-width: 1339px;
    }

    .headline {
        margin-left: 7px;
        margin-bottom: 14px;
    }

    &__items {
        display: flex;
    }
}
// /Discounts

// News
.section-news {
    padding-top: 50px;

    .headline {
        margin-bottom: 40px;
    }

    &-items {
        display: flex;
        justify-content: space-between;

        &-column + &-column {
            margin-left: 20px;
        }

        &-column {
            .section-news-item + .section-news-item {
                margin-top: 20px;
            }
        }
    }

    &-item {
        display: flex;
        max-width: 420px;
        width: 100%;
        padding: 11px 18px 11px 14px;
        border-radius: 5px;
        background: #EEEEEE;

        &__content {
            display: flex;
            flex-direction: column;
        }

        &__img {
            margin-right: 14px;
        }

        &__title {
            font-size: 15px;
            font-weight: 700;
            color: $color-blue;
        }

        &__text,
        &__date {
            font-weight: 500;
            font-size: 12px;
        }

        &__text {
            margin-top: 10px;
        }

        &__date {
            margin-top: auto;
            text-align: end;
        }

        &--big {
            flex-direction: column;
            padding: 24px 18px 20px 18px;
            height: 100%;

            &__img {
                margin-bottom: 20px;
                margin-right: 0;
            }

            &__date {
                margin-top: auto;
            }
        }
    }
}
// /News

// Recently-seen
.section-recently-seen {
    padding-top: 50px;

    .section-inner {
        max-width: 1339px;
    }

    .headline {
        margin-left: 7px;
        margin-bottom: 14px;
    }

    &-items {
        display: flex;
    }
} 
// /Recently-seen 

// Mailing
.section-mailing {
    padding: 65px 0;

    .section-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1030px;
    }

    &-text {
        color: $color-main--lighter;
    }

    &-input {
        max-width: 332px;
        width: 100%;

        input {
            width: 100%;
            height: 18px;
            outline: none;
            font-size: 10px;
            font-weight: 600;
        }
    }
}
// /Mailing

// Footer
.section-footer {
    padding: 30px 0 190px 0;
    background-color: $color-blue;

    .section-inner {
        display: flex;
        justify-content: space-between;
    }

    &-title {
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: 700;
        color: $color-white;
    }

    &-links {
        display: flex;
        flex-direction: column;
    }

    &-link + &-link {
        margin-top: 18px;
    }

    &-link {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        color: $color-white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &--bold {
            margin-top: 36px !important;
            font-size: 15px;
            font-weight: 700;
        }

        svg {
            margin-right: 6px;
        }
    }

    &-link--no-hover {
        &:hover {
            text-decoration: none;
        }
    }

    &-media {
        display: flex;
        align-items: center;
        margin-top: 20px;

        &-item + &-item {
            margin-left: 30px;
        }

    }

    .inst,
    .youtube {
        width: 21px;
        height: 21px;
    }

    .facebook {
        width: 20px;
        height: 21px;
    }

    .vk {
        width: 27px;
        height: 25px;
    }

    .mail {
        width: 20px;
        height: 13px;
    }

    .tel {
        width: 13px;
        height: 13px;
    }

    svg {
        fill: $color-white;

        &:hover {
            fill: $color-header-gray;
        }
    }
}
// /Footer